<% title "New Admin/Product Image" %>
<h3>Imagens técnicas do produto: <%= @product.title%></h3>
<%= render 'form' %>

<p><%= link_to "Back to List", admin_category_subcategory_product_product_images_path %></p>
