<% title "Edit Admin/Banner" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", admin_section_banner_path(@section,@banner) %> |
  <%= link_to "View All", admin_section_banners_path(@section) %>
</p>
