			#header-logo{
				position:absolute;
				left:46px;
				top:43px;
				}
			
			#header-social{
				position:absolute;
				right:20px;
				top:30px;
				}
				
			#header-chat{
				position:absolute;
				right:20px;
				bottom:50px;
				}

			#header-menu{
				position:absolute;
				width:950px;
				height:50px;
				background-color:#2d4761;
				bottom:0px;
				}
				
				#header-menu ul li{
				float:left;
				}
			
					#grupo{
						width:158px;
						height:49px;
						background-image:url('/images/btn_grupo.jpg');
						background-position:top center;
						background-repeat:no-repeat;
						cursor:pointer;
						margin-left:73px;
						}
					
					#grupo:hover{
						background-position:bottom center;
						}
					
					#servicos{
						display:none;
						width:147px;
						height:49px;
						background-image:url('/images/btn_servicos.jpg');
						background-position:top center;
						background-repeat:no-repeat;
						cursor:pointer;
						}
					
					#servicos:hover{
						background-position:bottom center;
						}
					
					#produtos{
						width:146px;
						height:49px;
						background-image:url('/images/btn_produtos.jpg');
						background-position:top center;
						background-repeat:no-repeat;
						cursor:pointer;
						}
					
					#produtos:hover{
						background-position:bottom center;
						}
						
					#novidades{
						width:158px;
						height:49px;
						background-image:url('/images/btn_novidades.jpg');
						background-position:top center;
						background-repeat:no-repeat;
						cursor:pointer;
						}
					
					#novidades:hover{
						background-position:bottom center;
						}
					
					#sustentabilidade{
						width:187px;
						height:49px;
						background-image:url('/images/btn_sustentabilidade.jpg');
						background-position:top center;
						background-repeat:no-repeat;
						cursor:pointer;
						}
					
					#sustentabilidade:hover{
						background-position:bottom center;
						}
					
					#contato{
						width:153px;
						height:49px;
						background-image:url('/images/btn_contato.jpg');
						background-position:top center;
						background-repeat:no-repeat;
						cursor:pointer;
						}
					
					#contato:hover{
						background-position:bottom center;
						}