			#slide-home{
				position:relative;
				width:950px;
				height:410px;
				z-index:1000;
				top:-18px;
				}
			
			#nav{
				position:relative;
				z-index:2000;
				top:360px;
				left:10px;
				}
			
				#nav a{
					width:27px;
					height:14px;
					padding-right:10px;
					padding-top:4px;
					margin-right:5px;
					display:block;
					float:left;
					background: #64889c; 
					text-decoration: none;
					text-align:right;
					color:#b6e1f2;
					font-family: 'Oxygen', sans-serif;
					font-size:10px;
					}
					
					#nav a.activeSlide{
						background: #2d4761;
						color:#d9c6b0;
						}
						
					#nav a:focus{
						outline: none;
						color:#d9c6b0;
						}
						
			#article-content{
				position:relative;
				width:950px;
				}
				
				#article-left{
					position:relative;
					width:555px;
					float:left;
					}
				
					#article-left-title{
						width:540px;
						height:30px;
						padding-top:15px;
						padding-left:15px;
						background-color:#2d4761;
						}
						
						#article-left-title h1{
							font-family: 'Oxygen', sans-serif;
							font-size:14px;
							color:#b6e1f2;
							}
					
					#article-left-box{
						width:555px;
						height:150px;
						background-color:#a7bdcb;
						margin-top:5px;
						}
						
						#article-left-box-img{
							padding-top:24px;
							padding-left:27px;
							float:left;
							}
						
						#article-left-box-info{
							width:306px;
							padding-top:24px;
							padding-right:34px;
							float:right;
							}
							
							#article-left-box-info h2{
								font-family: 'Oxygen', sans-serif;
								font-weight:bold;
								font-size:15px;
								color:#435b66;
								margin-bottom:15px;
								}
								
							#article-left-box-info p{
								font-family: 'Oxygen', sans-serif;
								font-size:12px;
								color:#2d4761;
								}
							
							#article-left-box-info a{
								float:right;
								margin-top:15px;
								}
								
				#article-right{
					position:relative;
					width:378px;
					float:right;
					}
					
					#article-right-title{
						width:363px;
						height:30px;
						padding-top:15px;
						padding-left:15px;
						background-color:#45718c;
						}
					
						#article-right-title h1{
							font-family: 'Oxygen', sans-serif;
							font-size:14px;
							color:#b6e1f2;
							}
					
					#article-right-box{
						margin-top:5px;
						}