@charset "utf-8";
/* CSS Document */
.row{
	width:100% !important;
}
.content_mobile{
	border-top:none;
	background:none;
}
.info_box{
	position:absolute;
	bottom:14px;	
	right:0px;
	min-width:385px;
	width:auto;
	height:auto;
}
	.rounded_box{
		position:relative;		
		background:#003d4e;
		-webkit-border-radius: 51px 0px 0px 51px;
		-moz-border-radius: 51px 0px 0px 51px;
		border-radius: 51px 0px 0px 51px;
		font-family: 'Oxygen', sans-serif;
		font-weight:bold;
		color:#fff;
		padding:12px 0px 12px 32px;
		margin-bottom:11px;
		text-align:left;
	}
		.img_rbx{
			position:relative;
			display:table-cell;
			vertical-align:middle;
			width: auto;
			height:40px;			
		}	
		.text_rbx{
			position:relative;
			font-size:18px;
			display:table-cell;	
			padding-left:29px;	
			vertical-align:middle;
		}
		.text_rbx_2{
			position:relative;
			line-height:normal;
			font-size:14px;
			display:table-cell;	
			padding-left:29px;	
			vertical-align:middle;
		}
.box_content_desk{
	position:relative;
	text-align:center;
}
.img_cont_desk{
	margin-top:122px;
	margin-bottom:72px;
}
.txt_cont_desk{
	padding:0 10px;
	line-height:normal;
	text-align:justify;
	font-family: 'Oxygen', sans-serif;
	font-size:12px;
	color:#003d4e;
	font-weight:normal;
	max-width:326px;
	width:0 auto ;
	margin-bottom:113px;
}
.txt_cont_desk_bold{
	color:#00918f;
	font-weight:bold;
}		
@media only screen and (max-width: 768px)
{
}