@charset "utf-8";
/* CSS Document */
body
{
	font-family: 'Oxygen', sans-serif !important;
	background:#000;
	background-image:url(../img/background_mob.jpg);
	background-repeat:no-repeat;
	background-position:top center;
}
.row { max-width:1280px; }
.logo{
	margin-left:33px;
	min-height:139px;
}
header{
	min-height:140px;
	height:auto;
}
	.bt_chat{
		display:none;
		position:absolute;
		right:0px;
		top:0px;
	}
.menu{
	display:none;
	position:relative;
	float:right;
	max-width:611px;
	width:auto;
	margin-top: 75px;
}
	ul{
		list-style:none;
	}
	ul li{
		float:left;
		margin-right:41px;
	}
	ul li a{
			font-family: 'Oxygen', sans-serif;
			font-size:14px;
			color:#00bab5;
			font-weight:normal;	
	}
	ul li a:hover{
			color:#35c9c7;
	}	
.nav_menu_bt{
	position:absolute;
	top:99px;
	right:0px;
	z-index: 5000;
}
.highlights {
	display:none;
	height:345px;
}
	.highlights_box{
		margin-top:136px;
		margin-left:74px;
	}
		.high_text_1{
			font-family: 'Oxygen', sans-serif;
			font-size:36px;
			color:#fff;
			font-weight:normal;
			margin-bottom:6px;		
		}
		.high_text_2{
			font-family: 'Oxygen', sans-serif;
			font-size:18px;
			color:#fff;
			font-weight:normal;		
		}	
.title_field{
	display:none;
	position:relative;
	background:#d2fdfd;
	height:184px;
	background-image:url(/images/bg_title_field.jpg);
	background-position:bottom center;
	background-repeat:no-repeat;
	margin-top:58px;
}
	.title_text{
		font-family: 'Oxygen', sans-serif;
		font-size:36px;		
		color:#21b8b6;
		font-weight:bold;
		margin-top:51px;
		margin-left:111px;
	}
.content_mobile{
	border-top:#00bab5 13px solid;
	min-height:508px;
	height:auto;
	background:#00293e;
}
.content_desk{
	display:none;
	position:relative;
	background:#d2fdfd;
	height:auto;
	text-align:center;
}

.bg_desk_detail_line{
	display:none;
	height:29px;
	background-image:url(/images/bg_desk_detail_line_1.jpg);
	background-position:top center;
}
.cont_footer_mobile{
	border-top:#00bab5 13px solid;
	min-height:71px;
	background:#003d4e;
}
	.text_footer{
		text-align:center;
		margin-top:20px;
		font-family: 'Oxygen', sans-serif;
		font-size:12px;
		color:#00bab5;
	}
.cont_footer_desktop{
	display:none;
	border-top:none;
	min-height:222px;
	font-family: 'Oxygen', sans-serif;
	font-weight:bold;
	color:#fff;
}
	.box_f_logo{
		margin-top: 63px;
		text-align:center;
		border-right: #006269 1px solid;
		height:104px;			
	}
	.box_f_txt_1{
		margin:0 auto;
		margin-top: 63px;
		max-width:195px;
		width:auto;
		min-height:104px;		
		height:auto;
		padding-top: 34px;
	}
		.img_align_bxf{
			position:relative;
			display:table-cell;
			vertical-align:middle;
			width:40px;
			height:40px;						
		}
		.txt_align_bxf{
			position:relative;
			font-size:18px;
			display:table-cell;	
			padding-left:29px;	
			vertical-align:middle;				
		}	
		.txt_align_bxf_2{
			position:relative;
			line-height:normal;
			font-size:14px;
			display:table-cell;	
			padding-left:29px;	
			vertical-align:middle;
		}						
	.box_f_txt_2{
		margin:0 auto;
		margin-top: 63px;
		width:282px;
		max-height:104px;		
		height:auto;
		padding-top: 28px;
	}	
	.box_f_txt_3{
		margin:0 auto;
		margin-top: 63px;
		width:296px;
		min-height:104px;		
		height:auto;
		padding-top: 28px;
	}
	.bt_sato7_footer{
		position:absolute;
		right:0px;
		bottom:-56px;
	}
@media only screen and (min-width: 440px)
{
}
@media only screen and (min-width: 441px)
{
body
{
	background:#003d4e;
	background-image:url(/images/background_desktop.jpg);
	background-repeat:no-repeat;
	background-position:top center;
}
.info_box {display:none;}
.highlights {display:block;}
.title_field{display:block;}
.content_desk {display:block;}	
.bg_desk_detail_line {display:block;}
.content_mobile {display:none;}
}
@media only screen and (min-width: 768px)
{
	nav.menu_mobile{
		display:none;
	}
.bt_chat{
		display:block;
}
.menu{display:block;}
@media only screen and (min-width: 1000px)
{
	.cont_footer_mobile{display:none;}
	.cont_footer_desktop{display:block;}	
}
@media only screen and (max-width: 1113px)
{
				.img_align_bxf{
				}
				.txt_align_bxf_2 {
					padding-left:0px;
				}
}
