<%content_for :head do%>
<%= stylesheet_link_tag "sustentabilidade"%>
<% end %>
<div class="row">
	<div class="small-12 columns content_mobile">
      <div class="sustent_box">
        <span class="sustent_title">O Que é a Sustentabilidade Ambiental</span><br><br>
        <p class="sustent_text">
			A sustentabilidade é um ideal sistemático que se perfaz principalmente pela ação, e pela constante busca entre desenvolvimento econômico e ao mesmo tempo preservação do ecossistema. Podem-se citar medidas que estão no centro da questão da sustentabilidade ambiental: a aquisição de medidas que sejam realistas para os setores das atividades humanas.<br><br>         
        	Os pontos elementares da sustentabilidade visam à própria sobrevivência no planeta, tanto no presente quanto no futuro. Esses princípios são: utilização de fontes energéticas que sejam renováveis, em detrimento das não renováveis.<br><br>
       		Pode-se exemplificar esse conceito com a medida e com o investimento que vem sido adotado no Brasil com relação ao biocombustível, que por mais que não tenha mínina autonomia para substituir o petróleo, ao menos visa reduzir seus usos. 
        </p>
      </div>    
    </div>
</div>
<div class="row">
	<div class="large-12 columns title_field">
    	<h1 class="title_text">Sustentabilidade</h1>
    </div>
</div>
<div class="row">
	<div class="large-12 columns content_desk">
    	<img src="/images/img_sustentabilidade.jpg" width="100%">
    </div>
</div>
<div class="row">
	<div class="large-12 columns bg_desk_detail_line_2"></div>
</div>
<div class="row">
	<div class="large-12 columns content_desk">
        <div class="large-12 columns box_content_desk">
            <div class="sustent_box_desk">
                <span class="sustent_title_desk">O Que é a Sustentabilidade Ambiental</span><br><br>
               <p class="text_sustent_desk">
                    A sustentabilidade é um ideal sistemático que se perfaz principalmente pela ação, e pela constante busca entre desenvolvimento econômico e ao mesmo tempo preservação do ecossistema. Podem-se citar medidas que estão no centro da questão da sustentabilidade ambiental: a aquisição de medidas que sejam realistas para os setores das atividades humanas.<br><br>
                    
                    Os pontos elementares da sustentabilidade visam à própria sobrevivência no planeta, tanto no presente quanto no futuro. Esses princípios são: utilização de fontes energéticas que sejam renováveis, em detrimento das não renováveis.<br><br>
                    
                    Pode-se exemplificar esse conceito com a medida e com o investimento que vem sido adotado no Brasil com relação ao biocombustível, que por mais que não tenha mínina autonomia para substituir o petróleo, ao menos visa reduzir seus usos. O segundo princípio refere-se ao uso moderado de toda e qualquer fonte renovável, nunca extrapolando o que ela pode render. Em um quadro mais geral, pode-se fundamentar a sustentabilidade ambiental como um meio de amenizar (a curto e longo prazo simultaneamente) os danos provocados no passado. A sustentabilidade ambiental também se correlaciona com os outros diversos setores da atividade humana, como o industrial, por exemplo.<br><br>
                    
                    A sua aplicação pode ser feita em diversos níveis: a adoção de fonte de energias limpas está entre as preocupações centrais, algumas empresas tem desenvolvidos projetos de sustentabilidade voltando-se para aproveitamento do gás liberado em aterros sanitários, dando energia para populações que habitam proximamente a esses locais. Outro exemplo de sua aplicação está em empresas, como algumas brasileiras de cosméticos, que objetivam a extração cem por cento renováveis de seus produtos. O replantio de áreas degradadas, assim como a elaboração de projetos que visem áreas áridas e com acentuada urgência de tratamento são mais exemplos que já vêm sido tomados.<br><br>
                    
                    Pode-se afirmar que as medidas estatais corroboram perceptivelmente com a sustentabilidade ambiental. Sendo necessário não apenas um investimento capital em tecnologias que viabilizem a extração e o desenvolvimento sustentável, mas também conta com atitudes sistemáticas em diversos órgãos sociais e políticos. Como por exemplo, a propaganda, a educação e a lei.			
               </p> 
            </div>   
        </div>
    </div>
</div>