<% title "Editar Seção" %>

<%= render 'form' %>

<p>
  <%= link_to "Ver", [:admin, @section], :class => "secondary small button" %> |
  <%= link_to "Ver Todas", admin_sections_path, :class => "secondary small button" %>
</p>
