<%content_for :head do%>
<script>
jQuery(document).ready(function(){ 
	 $('#slide-news').cycle({
			fx:     'scrollHorz', 
    		speed:  'slow', 
    		timeout: 0, 
    		next:   '#news-next', 
    		prev:   '#news-prev'
	});
	
	$('#novidades').css('background-position','bottom');
});
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=228638123874618";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'pt-BR'}
</script>
<% end %>
      <div id='article-content'>
				<div id='top-news'>
					<h1>NOVIDADES</h1>
				</div>
				<div class='clear'></div>
        <% @news.each do |notice|%>
				<div id='article-news-box'>
					<div id='article-news-box-img'>
						<%= image_tag(notice.image.url("index"), :height=>'133', :width=>'172', :alt=> notice.title, :title=> notice.title) %>
					</div>
					<%= link_to image_tag('btn_leia_mais.png', :height=>'151', :width=>'93', :alt=> notice.title, :title=> notice.title), news_path(notice.id) %>
					<div id='article-news-box-info'>
						<h2><%= notice.title %></h2>
            <%= raw(notice.summary) %>
						
					</div>
				</div>
        <% end %>
				
			</div>
			
