<%content_for :head do%>
<script>
jQuery(document).ready(function(){ 
	 $('#slide-contacts').cycle({
			fx:     'scrollHorz', 
    		speed:  'slow', 
    		timeout: 0, 
    		next:   '#contacts-next', 
    		prev:   '#contacts-prev'
	});
	
	$('#contato').css('background-position','bottom');
});
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=228638123874618";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'pt-BR'}
</script>
<%end%>

			<div id='article-content'>
				<div id='top-contacts'>
					<h1>CONTATO</h1>
				</div>
				<div class='clear'></div>
				<div id='contacts-article'>
					<%= link_to image_tag('btn_voltar.jpg', :height=>'46', :width=>'107', :alt=>'Castelatto', :title=>'Castelatto'), 'www.uol.com.br', :id=>'btn_voltar' %>
					
					<p>Telefone: (11) 4416-7007 - Financeiro<br><br>
					
					<b>Novos Números</b><br>
					4416-6890 / 4416-9891 / 4416-6892 / 4416-6893 / 4416-6894 / 4416-6895 / 4416-6896 / 4416-6897 / 4416-9899<br><br>
					
					<b>Entre em contato através dos e-mails:</b><br>
					sac@jesusdemari.com.br ou atendimento@jesusdemari.com.br</p>
					<div>
						<iframe width="450" height="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Antonio+da+Cunha+Leite,+2455&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=58.598104,135.263672&amp;t=m&amp;ie=UTF8&amp;hq=Rua+Antonio+da+Cunha+Leite,+2455&amp;hnear=&amp;radius=15000&amp;ll=-23.058253,-46.558685&amp;spn=0.3538,0.616608&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe>
					</div>
					<p style='float:right; margin-top:-280px; margin-right:40px;'><b>Endereço:<br>
							Rua Antonio da Cunha Leite, 2455  Bairro Portão <br>
							Atibaia - SP - CEP 12.948-110 </b></p>
					<form>
						<table width='610' align='center' id='table-contacts'>
							<tr>
								<td>Nome</td>
								<td><input type='text' class='nome' /></td>
							</tr>
							<tr>
								<td>E-mail</td>
								<td><input type='text' class='email' /></td>
							</tr>
							<tr>
								<td>Telefone</td>
								<td><input type='text' class='telefone' />
								Cidade
								<input type='text' class='cidade' />
								Estado
							  <input type='text' class='estado' /></td>
							</tr>
							<tr>
								<td>Assunto</td>
								<td><input type='text' class='assunto' /></td>
							</tr>
							<tr>
								<td valign="top" ><span class='tit_mensagem'>Mensagem</span></td>
							  <td><textarea class='mensagem'></textarea></td>
							</tr>
							<tr>
								<td></td>
								<td><input type='image' class='enviar' src='../../images/btn-enviar.jpg' /></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
