<div id='box-contato-result-index'>
	<h1>Mensagem Enviada!</h1>
	<p>Em breve entraremos em contato.</p>
	<div id='box-form-contato-result'>
		<a href="/"><img src="/images/btn-voltar-onde.jpg" /></a>
	</div>
</div>
