<% title "Edit Admin/Category" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", [:admin, @category], :class => "secondary small button" %> |
  <%= link_to "View All", admin_categories_path, :class => "secondary small button" %>
</p>
