<% title "Editar Categoria" %>

<%= render 'form' %>

<p>
  <%= link_to "Visualizar", [:admin, @category], :class => "secondary small button" %> |
  <%= link_to "Ver Todas", admin_categories_path, :class => "secondary small button" %>
</p>
