<% title "Editar Produto" %>

<%= render 'form' %>

<p>
  <%= link_to "Ver", [:admin, @product], :class => "secondary small button" %> |
  <%= link_to "Ver Todos", admin_products_path, :class => "secondary small button" %>
</p>
