<html>
<body>
	<img src="http://www.castelatto.com.br/images/email/logo01.gif" />
	<h2>Contato</h2>
	<p>A Castelatto Pisos e Revestimentos agradece o seu contato. Retornaremos o mais breve possível</p>
	<p>Se preferir, entre em contato pelo telefone (11) 4416-6900</p>
</body>
</html>