<div class="row">
	<div class="large-6 small-12 columns content_desk">
      <div class="field_item_category">
      	<div class="item_category">
        	<a href="" class="text_category">Anéis de Concreto Lisos</a>
        </div>
        <div class="item_category">
      		<a href="" class="text_category">Anéis de Concreto Perfurados</a>
        </div>
        <div class="item_category">
        	<a href="" class="text_category">Anéis de concreto Liso SANASA e SABESP</a>
        </div>
      </div>
    </div>
    <div class="large-6 small-12 columns content_desk">
      <div class="item_info_right">
        	<div class="item_image">
            	<img src="/images/img_standard_aneisdeconcreto.png">
            </div>
            <div class="item_text">
				<p>
                	O Anel de Concreto Liso do Grupo Jesus de Mari seguem as normas da NBR contidas na ABNT, estes artefatos de concreto são utilizados na confecção de fossos sépticas e poços artesianos e são a garantia de uma obra segura.	
        		</p>
            </div>
        </div>
    </div>
</div>