<div class="item_info_right">
<div class="item_image">
<% if @product.logo.file?%>
<%= image_tag(@product.logo.url("logo"))%>
<% end %>
</div>
<div class="item_text">
<p><%= @product.summary%></p>
</div>
</div>