<div class="large-6 small-12 columns content_desk">
  <div class="field_item_category">
    <% @subcategories.each do |subcategory| %>
    <div class="item_category">
      <%=link_to subcategory.title, show_product_product_path(subcategory.id), :remote => true, :class => "text_category", :id => "sub_"+subcategory.id.to_s%>
    </div>
    <% end %>
    </div>
    </div>
  <div class="large-6 small-12 columns content_desk" id="show_product">
  </div>
</div>
