<%content_for :head do%>
  <%= stylesheet_link_tag "produtos"%>
<% end %>
<div class="row">
	<div class="small-12 columns content_mobile">
        <div class="bread_crumb_field">
            <ul>
                <img src="/images/img_arrow_left.png" class="bc_arrow_left">
                <li class="bc_text_1">
                    ...Anéis de Concreto &gt; 
                </li>
                <li class="bc_text_2">
                    Anéis de Concreto Lisos
                </li>
            </ul>
        </div>
        <div class="produto_title">Anéis de Concreto Lisos</div>
        <div class="produto_text">
	  <p>
	    O Anel de Concreto Liso do  Grupo Jesus de Mari  seguem as normas da NBR contidas na ABNT, estes artefatos de concreto são utilizados na confecção de fossos sépticas e poços artesianos e são a garantia de uma obra segura.
	  </p>
        </div>
        <div class="produto_img">
            <img src="/images/img_aneis_de_concreto_1_mob.png">
        </div>
        <div class="produto_text">
        	Loren ipsun
        </div>
        <div class="produto_img">	
            <img src="/images/img_aneis_de_concreto_2_mob.png">
        </div>
    </div>
</div>
<div class="row">
	<div class="large-4 columns title_field">
    	<h1 class="title_text">Produtos</h1>
    </div>
	<div class="large-8 columns title_field">
    	<p class="text_title">
	  Nossa empresa disponibiliza a seus clientes uma ampla cartela de produtos relacionados a artefatos de concreto, incluindo Tubos de Concreto, Anéis de Concreto e Aduelas de Concreto todos produzidos pensando na mais alta qualidade de seus produtos e numa consciência ambiental no processo de confecção.
        </p>
    </div>    
</div>
<div class="row">
  <div class="large-12 columns content_desk">
    <% @categories.each do |category| %>
      <div class="large-4 columns box_category_desk">
	<%= link_to '', show_category_product_path(category.id),:id => "cat_"+category.id.to_s, :class => category.css, :remote => true%>
      </div>
      <%end%>
  </div>
</div>

<div class="row">
	<div class="large-12 columns content_desk">
        <table align="center">
          <thead>
            <tr height="53">
              <th width="234">Características</th>
              <th width="234">Diâm Ext (mm)</th>
              <th width="234">Alt (mm)</th>
              <th width="234">Esp (mm)</th>
              <th width="234">Peso (kg)</th>
            </tr>
          </thead>
          <tbody>
            <tr height="53">
              <td>Características</td>
              <td>Diâm Ext (mm)</td>
              <td>Alt (mm)</td>
              <td>Esp (mm)</td>
              <td>Peso (kg)</td>
            </tr>
            <tr>
              <td>Características</td>
              <td>Diâm Ext (mm)</td>
              <td>Alt (mm)</td>
              <td>Esp (mm)</td>
              <td>Peso (kg)</td>
            </tr>
            <tr>
              <td>Características</td>
              <td>Diâm Ext (mm)</td>
              <td>Alt (mm)</td>
              <td>Esp (mm)</td>
              <td>Peso (kg)</td>
            </tr>
          </tbody>
        </table>  
    </div>
</div>
<div class="row">
	<div class="small-4 columns content_desk">
		<img src="/images/img_aneis_de_concreto_1_desk.png">
    </div>
    <div class="small-4 columns content_desk">
		<img src="/images/img_aneis_de_concreto_2_desk.png">
    </div>
    <div class="small-4 columns content_desk">
		<img src="/images/img_aneis_de_concreto_2_desk.png">
    </div>    
</div>
