<% content_for :head do%>
<%= stylesheet_link_tag 'produtos'%>
<% end %>
<div class="row">
<div class="small-12 columns content_mobile">
        <div class="bread_crumb_field">
            <ul>
                <img src="/images/img_arrow_left.png" class="bc_arrow_left">
                <li class="bc_text_1">
                    ...Anéis de Concreto &gt; 
                </li>
                <li class="bc_text_2">
                    Anéis de Concreto Lisos
                </li>
            </ul>
        </div>
        <div class="produto_title">Anel de Concreto Lisos</div>
        <div class="produto_text">
	  <p>
	    O Anel de Concreto Liso do Grupo Jesus de Mari seguem as normas da NBR contidas na ABNT, estes artefatos de concreto são utilizados na confecção de fossos sépticas e poços artesianos e são a garantia de uma obra segura.
	  </p>
        </div>
        <div class="produto_img">
            <img src="/images/img_aneis_de_concreto_1_mob.png">
        </div>
        <div class="produto_text">
        	Loren ipsun
        </div>
        <div class="produto_img">	
            <img src="/images/img_aneis_de_concreto_2_mob.png">
        </div>
    </div>
</div>
<div class="row">
	<div class="large-4 columns title_field">
    	<h1 class="title_text">Produtos</h1>
    </div>
	<div class="large-8 columns title_field">
    	<p class="text_title">
	  Nossa empresa disponibiliza a seus clientes uma ampla cartela de produtos relacionados a artefatos de concreto, incluindo Tubos de Concreto, Anéis de Concreto e Aduelas de Concreto todos produzidos pensando na mais alta qualidade de seus produtos e numa consciência ambiental no processo de confecção.
        </p>
    </div>    
</div>
<div class="row">
  <div class="large-12 columns content_desk">
    <% @categories.each do |category| %>
      <div class="large-4 columns box_category_desk">
	<%= link_to '', show_subcategory_product_path(category.id), :remote =>
true, :id => "cat_"+category.id.to_s, :class => category.css%>
      </div>
      <%end%>
  </div>
</div>
<!-- Exibe as Subcategorias -->
<div class="row" style="height:auto; padding:18px 0px; background-color:#00D5D2">
  <div id="subcategory" class="large-12 columns" style="display:block;">
  </div>
</div>
<!-- Fim do menu de Subcategorias :( -->
<div class="row">
	<div id="products" class="large-6 small-12 columns content_desk">
      
    </div>
    <div id="product_desc" class="large-6 small-12 columns content_desk">
      
    </div>
</div>
<div class="row">
	<div id="subcategory_spec" class="large-12 columns content_desk">
          
    </div>
</div>
<div class="row">
	<div class="small-4 columns content_desk">
		<img src="/images/img_aneis_de_concreto_1_desk.png">
    </div>
    <div class="small-4 columns content_desk">
		<img src="/images/img_aneis_de_concreto_2_desk.png">
    </div>
    <div class="small-4 columns content_desk">
		<img src="/images/img_aneis_de_concreto_2_desk.png">
    </div>    
</div>
<script type="text/javascript">
$('#cat_<%= @category_id.blank? ? @categories.first.id : @category_id.id%>').trigger('click');
</script>