<%content_for :head do%>
<script>
jQuery(document).ready(function(){ 
	 $('#slide-sustainability').cycle({
			fx:     'scrollHorz', 
    		speed:  'slow', 
    		timeout: 0, 
    		next:   '#sustainability-next', 
    		prev:   '#sustainability-prev'
	});
	
	$('#grupo').css('background-position','bottom');
});
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=228638123874618";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'pt-BR'}
</script>
<%end%>
			<div id='article-content'>
				<div id='top-products-index'>
					<h1>Produtos</h1>
				</div>
				<div class='clear'></div>
				<div id='products-index-article'>
					<h1>Produtos</h1>
					<p>Nossa empresa disponibiliza a seus clientes uma ampla cartela de produtos relacionados a artefatos de concreto, incluindo Tubos de Concreto, Anéis de Concreto e Aduelas de Concreto todos produzidos pensando na mais alta qualidade de seus produtos e numa consciência ambiental no processo de confecção.</p>
					<h1>Produção</h1>
					<p>Nossa empresa emprega as mais avançadas técnicas na produção de artefatos de concreto e Tubos de Concreto do mercado, sempre estando em acordo com as NBRs vigentes, procuramos propiciar a maior variedade de artefatos de concreto,tendo em mente um melhor atendimento de nossos clientes.</p>
				</div>
			</div>
			<div id='box-products-index-1'>
				<%= image_tag('logo_1.jpg', :height=>'138', :width=>'291', :alt=>'Castelatto', :title=>'Castelatto', :class=>'logo') %>
				<h1>A JDM Artefatos de Concreto</h1>
				<p class='text-box-prod'>Nossa empresa disponibiliza a seus clientes uma ampla cartela de produtos relacionados a artefatos de concreto, incluindo Tubos de Concreto, Anéis de Concreto e Aduelas de Concreto todos produzidos pensando na mais alta qualidade de seus produtos e numa consciência ambiental no processo de confecção.</p>
				<div id='box-mais-prod-1'>
					<%= image_tag('sample.png', :height=>'70', :width=>'105', :alt=>'Castelatto', :title=>'Castelatto') %>
					<p><b>A JDM Artefatos</b> de Concreto trás a qualidade de quem fabrica mais do que artefatosa de concreto, fabrica soluções inteligen tes para sua obra.</p>
					<a href='#' class='btn-mais-prod-1'></a>
				</div>
				<div id='box-mais-prod-1'>
					<%= image_tag('sample.png', :height=>'70', :width=>'105', :alt=>'Castelatto', :title=>'Castelatto') %>
					<p><b>A JDM Artefatos</b> de Concreto trás a qualidade de quem fabrica mais do que artefatosa de concreto, fabrica soluções inteligen tes para sua obra.</p>
					<a href='#' class='btn-mais-prod-1'></a>
				</div>
				<div id='box-mais-prod-1'>
					<%= image_tag('sample.png', :height=>'70', :width=>'105', :alt=>'Castelatto', :title=>'Castelatto') %>
					<p><b>A JDM Artefatos</b> de Concreto trás a qualidade de quem fabrica mais do que artefatosa de concreto, fabrica soluções inteligen tes para sua obra.</p>
					<a href='#' class='btn-mais-prod-1'></a>
				</div>
			</div>
			<div id='content-product'>
				<div id='content-product-left'>
					<h1>Conheça nossa linha</h1>
					<p>A JDM Artefatos de Concreto conta com uma completa linha de produtos voltados ha solucionar seus problemas.<p>
					<div id='itens-prod'>
						<a href='javascript:void(0)'>Anéis de Concreto</a>
						<div id='int-list-prod' class='hide'>
							<ul>
								<li><a href='javascript:void(0)'>Anéis de Concreto Liso</a></li>
								<li><a href='javascript:void(0)'>Perfurados</a></li>
								<li><a href='javascript:void(0)'>Liso SANASA e SABESP</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div id='content-product-right'>
					<h1>Anéis de Concreto</h1>
					<div class='scroll-pane'>
						
					</div>
				</div>
				
